<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afra55.trainingfirstapp">

    <!-- 唤醒屏幕并解锁 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!-- 联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 网络操作相关权限 -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 省心装 -->
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <!-- 允许震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- bomb -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 短信监听权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 监听来电状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".base.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".base.TrainingFirstActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.other_activity.OtherActivity"
            android:label="@string/other_app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".base.TrainingFirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <!-- meta-data 用于支持 support 4.0 以及以下来指明上级活动 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.base.TrainingFirstActivity" />
        </activity>
        <activity
            android:name=".module.activity_life.ActivityA"
            android:launchMode="singleTask" />
        <activity android:name=".module.activity_life.ActivityB" />
        <activity android:name=".module.activity_life.ActivityC" />
        <activity
            android:name=".module.activity_life.DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".module.frgment_demo.FragmentMainActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.afra55.trainingfirstapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".module.other_activity.FileSelectActivity"
            android:label="@string/file_selector">
            <intent-filter>
                <action android:name="ANDROID.INTENT.ACTION.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/aplain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".module.swipe_menu.SwipeMenuDemoActvity" />
        <activity android:name=".module.photobyintent.PhotoIntentActivity" />
        <activity
            android:name=".module.images.DisplayingBitmapsActivity"
            android:launchMode="singleTop" />
        <activity android:name=".module.opengl.OpenGLES20Activity" />

        <!-- 动画相关 start -->
        <activity
            android:name=".module.animdemo.AnimDemoMainActivity"
            android:label="@string/title_crossfade" />
        <activity
            android:name=".module.animdemo.CrossfadeActivity"
            android:label="@string/title_crossfade"
            android:parentActivityName=".module.animdemo.AnimDemoMainActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.module.animdemo.AnimDemoMainActivity" />
        </activity>
        <activity
            android:name=".module.animdemo.CardFlipActivity"
            android:label="@string/title_card_flip"
            android:parentActivityName=".module.animdemo.AnimDemoMainActivity"
            android:theme="@style/DarkTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.module.animdemo.AnimDemoMainActivity" />
        </activity>
        <activity
            android:name=".module.animdemo.ScreenSlideActivity"
            android:label="@string/title_screen_slide"
            android:parentActivityName=".module.animdemo.AnimDemoMainActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.module.animdemo.AnimDemoMainActivity" />
        </activity>
        <activity
            android:name=".module.animdemo.ZoomActivity"
            android:label="@string/title_zoom"
            android:parentActivityName=".module.animdemo.AnimDemoMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.module.animdemo.AnimDemoMainActivity" />
        </activity>
        <activity
            android:name=".module.animdemo.LayoutChangesActivity"
            android:label="@string/title_layout_changes"
            android:parentActivityName=".module.animdemo.AnimDemoMainActivity">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.module.animdemo.AnimDemoMainActivity" />
        </activity>
        <!-- 动画相关 end -->
        <activity android:name=".module.myanim.MyAnimActivity" />
        <!-- 功能效果 -->
        <activity android:name=".module.circle_menu.CircleMenuActivity" />

        <!-- 连接网络相关 start -->
        <activity
            android:name=".module.networkusage_demo.NetworkActivity"
            android:label="@string/app_name"
            android:parentActivityName=".base.TrainingFirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.base.TrainingFirstActivity" />
        </activity>
        <activity
            android:name=".module.networkusage_demo.SettingsActivity"
            android:label="SettingsActivity">
            <intent-filter>

                <!-- 管理指定应用程序网络数据使用情况的设置 -->
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 连接网络相关 end -->


        <!-- 省心装 -->
        <service
            android:name=".utils.accessibility_service.MAcessibilityService"
            android:enabled="@bool/atLeastIceCreamSandwich"
            android:label="@string/acc_auto_install_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>

        <activity
            android:name=".module.contacts.ContactsActivity"
            android:parentActivityName=".base.TrainingFirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.base.TrainingFirstActivity" />
        </activity>
        <activity
            android:name=".module.effectivenavigation.EffectiveNavigationActivity"
            android:parentActivityName=".base.TrainingFirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.base.TrainingFirstActivity" />
        </activity>
        <activity
            android:name=".module.effectivenavigation.CollectionDemoActivity"
            android:parentActivityName=".module.effectivenavigation.EffectiveNavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.module.effectivenavigation.EffectiveNavigationActivity" />
        </activity>
        <activity
            android:name=".module.effectivenavigation.navigationdrawerexample.NavigationDrawerActivity"
            android:parentActivityName=".module.effectivenavigation.EffectiveNavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.module.effectivenavigation.EffectiveNavigationActivity" />
        </activity>
        <activity
            android:name=".module.pingme.PingMeActivity"
            android:parentActivityName=".base.TrainingFirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.base.TrainingFirstActivity" />
        </activity>

        <service
            android:name=".module.pingme.PingService"
            android:enabled="true"
            android:label="PingServiceLabel" />

        <activity
            android:name=".module.pingme.PingMeResultActivity"
            android:excludeFromRecents="true"
            android:label="Take Action"
            android:launchMode="singleTask"
            android:parentActivityName=".module.pingme.PingMeActivity"
            android:taskAffinity="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.module.pingme.PingMeActivity" />
        </activity>

        <!-- newsReader -->
        <activity android:name=".module.newsreader.NewsReaderActivity" />
        <activity
            android:name=".module.newsreader.ArticleActivity"
            android:theme="@style/NewsReaderStyle_NoActionBar" />
        <activity
            android:name=".module.customviews.CusstomViewActivity"
            android:parentActivityName=".base.TrainingFirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.base.TrainingFirstActivity" />
        </activity>
        <activity android:name=".module.customviews.MyOwnCusstomViewActivity" />
        <activity android:name=".module.pagerSlidingTabStrip.PagerSlidingTabStripActivity" />
        <activity
            android:name=".module.tabcompat.TabCompatMainActivity"
            android:parentActivityName=".base.TrainingFirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.afra55.trainingfirstapp.base.TrainingFirstActivity" />
        </activity>
        <activity android:name=".module.customviews.CusstomViewTestActivity" />
        <activity android:name=".module.customviews.ViewDragHelperTestActivity" />
        <activity android:name=".module.image_handle.ImageHandlePixActivity" />
        <activity android:name=".module.surface_view.SurfaceViewTestActivity" />
        <activity android:name=".module.commont_animation.CommontAnimationActivity" />
        <activity android:name=".base.MobileOsInfoActivity" />
        <activity android:name=".module.notification.NotificationTestActivity" />
        <activity android:name=".module.gesture_view.GestureViewActivity" />
        <activity
            android:name=".module.DialogThemeActivity"
            android:theme="@style/dialog_activity" />

        <!-- 短信监听 -->
        <receiver
            android:name=".utils.broadcast_receiver.BroadcastTestReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 手机启动的action -->
            </intent-filter>
        </receiver>

        <!-- 桌面小部件 -->
        <receiver android:name=".widget.DesktopSmallWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- 必须添加 -->
                <action android:name="com.afra55.appwidget.action.CLICK" />
                <!-- 小部件单机行为 -->
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/desktop_small_widget_info" />
        </receiver>

        <activity android:name=".module.remote_views.RemoteViewsTestActivity" />

        <service
            android:name=".utils.service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".module.alert.AlerTestActivity" />
        <activity android:name=".base.MPreferenceActivity" />
        <activity android:name=".module.bessel.BesselActivity"></activity>
    </application>

</manifest>